.app {
  position: relative;
  margin: 10px 40px;
  min-height: 90vh;
}

.featured {
  position: fixed;
  top: 65px;
  left: 40px;
  right: 480px;
  bottom: 0;
  overflow-y: auto;
}

.toolbar {
  position: fixed;
  top: 20px;
  left: 40px;
}

.topten {
  position: absolute;
  right: 0;
  top: 0;
  overflow-y: auto;
  font-size: 13px;
  width: 400px;
}

.entries {
  width: 100%;
}

.entry h2 {
  font-size: 16px;
  margin: 5px 0;
}

@media (max-width: 1162px) {
  .featured { right: 380px; }
  .topten { width: 300px; }
}

@media (max-width: 768px) {
  .featured { display: none; }
  .topten { left: 0; top: 20px; width: 100%; }

  .toolbar { position: static; }
  .toolbar .random { display: none; }
}