body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  color: #333;

  font-size: 16px;
}

body::before, body::after {
  content: '';
  position: fixed;
  z-index: -2;
  left: -10px; top: -10px; right: -10px; bottom: -10px;
}

body::before {
  background-image: url('https://source.unsplash.com/random/400x300/?code');
  background-size: cover;
  filter: blur(5px);

  opacity: .5;
}

body::after {
  background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,0), rgba(255,255,255,0))
}

a:link {
  color: #039;
}
a:visited {
  color: #347;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

h1 { font-size: 30px; }

h1 a:link, h2 a:link, h3 a:link, h4 a:link, h5 a:link, h6 a:link {
  text-decoration: none
}

*:focus {
  outline: 1px solid rgba(0, 64, 192, .2);
}

button, .btn {
  padding: 6px 16px;
  color: #666;
  background: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 5px;
}

button:focus, .btn:focus {
  outline: none;
  background: #e6e6e6;
}

button:active, .btn:active {
  background: #ddd;
}

button.active, .btn.active {
  background: #039;
  color: #fff;
}
button.active:focus, .btn.active:focus {
  background: #25b;
}
button.active:active, .btn.active:active {
  background: #14a;
}

.btn-group {
  display: inline-block;
  margin-right: 5px;
}

.btn-group > * {
  border-radius: 0;
  border-left-width: 0;
  margin-right: 0;
}

.btn-group :first-child {
  border-radius: 4px 0 0 4px;
  border-left-width: 1px;
}
.btn-group :last-child {
  border-radius: 0 4px 4px 0;
}

pre {
  background: #f9f9f9;
  padding: 10px;
  overflow: auto;
}